<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mx-5" href="/user/home">VisB</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/user/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/form">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/data">Data</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Survey-2023
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item disabled" href="/user/data"
                >Survey List</a
              >
            </li>
            <li>
              <a class="dropdown-item disabled" href="/user/form">Add Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
